.m-none {
    margin: 0;
}

.table_entry {
    margin: 0;
}

#entry .mt-10px {
    margin-top: 10px;
}

#entry .mb-10px {
    margin-bottom: 10px;
}

#entry .mt-20px {
    margin-top: 20px;
}

#entry .mb-20px {
    margin-bottom: 20px;
}

#qustionnaire .mb-20px {
    margin-bottom: 20px;
}

#entry .mt-20px {
    margin-top: 20px;
}

#entry .mr-20px {
    margin-right: 20px;
}

#entry .ml-20px {
    margin-left: 20px;
}

#entry .pt-20px {
    padding-top: 20px;
}

#entry .pb-20px {
    padding-bottom: 20px;
}

#entry .pr-20px {
    padding-right: 20px;
}

#entry .pl-20px {
    padding-left: 20px;
}

#entry .mt-25px {
    margin-top: 25px;
}

#entry .mb-25px {
    margin-bottom: 25px;
}

#entry .mr-25px {
    margin-right: 25px;
}

#entry .ml-25px {
    margin-left: 25px;
}

#entry .pt-25px {
    padding-top: 25px;
}

#entry .pb-25px {
    padding-bottom: 25px;
}

#entry .pr-25px {
    padding-right: 25px;
}

#entry .pl-25px {
    padding-left: 25px;
}

#entry .mt-30px {
    margin-top: 30px;
}

#entry .mb-30px {
    margin-bottom: 30px;
}

#entry .mr-30px {
    margin-right: 30px;
}

#entry .ml-30px {
    margin-left: 30px;
}

#entry .pt-30px {
    padding-top: 30px;
}

#entry .pb-30px {
    padding-bottom: 30px;
}

#entry .pr-30px {
    padding-right: 30px;
}

#entry .pl-30px {
    padding-left: 30px;
}


#entry .mt-35px {
    margin-top: 35px;
}

#entry .mb-35px {
    margin-bottom: 35px;
}

#entry .mr-35px {
    margin-right: 35px;
}

#entry .ml-35px {
    margin-left: 35px;
}

#entry .pt-35px {
    padding-top: 35px;
}

#entry .pb-35px {
    padding-bottom: 35px;
}

#entry .pr-35px {
    padding-right: 35px;
}

#entry .pl-35px {
    padding-left: 35px;
}

#entry .mt-40px {
    margin-top: 40px;
}

#entry .mb-40px {
    margin-bottom: 40px;
}

#entry .mr-40px {
    margin-right: 40px;
}

#entry .ml-40px {
    margin-left: 40px;
}

#entry .pt-40px {
    padding-top: 40px;
}

#entry .pb-40px {
    padding-bottom: 40px;
}

#entry .pr-40px {
    padding-right: 40px;
}

#entry .pl-40px {
    padding-left: 40px;
}

#entry .mt-45px {
    margin-top: 45px;
}

#entry .mb-45px {
    margin-bottom: 45px;
}

#entry .mr-45px {
    margin-right: 45px;
}

#entry .ml-45px {
    margin-left: 45px;
}

#entry .pt-45px {
    padding-top: 45px;
}

#entry .pb-45px {
    padding-bottom: 45px;
}

#entry .pr-45px {
    padding-right: 45px;
}

#entry .pl-45px {
    padding-left: 45px;
}

#entry .mt-30px {
    margin-top: 30px;
}

#entry .img1 {
    padding-bottom: 40px;
}

#entry .mb-45px {
    margin-bottom: 45px;
}

#entry .caption1 {
    margin-bottom: 25px;
}

.gold_table>tbody>tr.top {
    border-top: 2px solid #d6c88d;
}

.table_questionnaire {
    margin: 0 20px 50px;
}

.img1 {
    width: 100%;
}

.img2 {
    width: 100%;
}

#entry .pr-22px {
    padding-right: 22px;
}

#entry .pl-22px {
    padding-left: 22px;
}

#entry .pr-120px {
    padding-right: 120px;
}

#entry .pl-120px {
    padding-left: 120px;
}

.gold-title {
    display: flex;
    align-items: center;
}

.gold-title::before,
.gold-title::after {
    content: '';
    height: 2px;
    /* background-color: #d6c88d; */
    /* background-color: #ca4; */
    background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
    flex-grow: 1;
}

.gold-title::before {
    margin-right: 2rem;
}

.gold-title::after {
    margin-left: 2rem;
}

.gold-title-3 {
    display: flex;
    align-items: center;
}

.gold-title-3::before,
.gold-title-3::after {
    content: '';
    height: 2px;
    /* background-color: #d6c88d; */
    /* background-color: #ca4; */

    background-color: #d09a58;
    flex-grow: 1;
}

.gold-title-3::before {
    margin-right: 20px;
}

.gold-title-3::after {
    margin-left: 20px;
}
.gold-table-entry > tbody > tr {
    border-bottom: 2px solid #d6c88d;
}

.top {
    border-top: 2px solid #d6c88d;
}

.gold-table-entry {
    width: 100%;
}

.gold-table-entry input,
.gold-table-entry select {
    height: 30px;
}

.gold-table-entry > tbody > tr > td,
.gold-table-entry > tbody > tr > th {
    padding: 5px 0 5px;
    vertical-align: middle;
}

.entry-table-nest > tbody > tr > th,
.entry-table-nest > tbody > tr > td {
    vertical-align: middle;
}
