body {
  overflow-x: hidden;
}

/* ヘッダー */
.header {
  background-color: black;
  font-family: serif;
  z-index: 10000;
}

.header_link a {
  color: gray;
  text-decoration: none;
  font-family: Roboto Thin;
}

.header a:hover {
	color: gray;
}

.entry_btn {
  font-family: serif;
  border: none; 
  background: linear-gradient(to right, #bab5b1 0%, #9c8b7e 25%, #9c8b7e 51%, #bab5b1 100%);
}

.questionnaire_btn {
  font-family: serif;
  background-color: #444444;
  border: none; 
}

.batsu {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
 
.batsu::before, .batsu::after { 
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px; 
  height: 30px;
  background: gray;
}
 
.batsu::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
.batsu::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

/* フッター */
.footer {
  background-color: black;
  font-family: serif;
}

.footer p {
  margin: 0;
}

.footer_link a {
  color: white;
  text-decoration: none;
}

.sans-serif {
  font-family: sans-serif;
}

/* トップページ */
.movie_skip_btn {
  margin-bottom: 30px;
  margin-right: 30px;
  font-family: serif;
}

.second_view p, .second_view span {
  margin: 0;
}

/*アニメーション要素のスタイル*/
.animation, .logo_animation, .menu_animation{
  opacity : 0;
  visibility: hidden;
  transition: 1s;
  transform: translateY(30px);
}
/*アニメーション要素までスクロールした時のスタイル*/
.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.animation-0-zm, .animation-1-zm, .animation-2-zm {
  opacity : 0;
  visibility: hidden;
  transition: 1s;
  transform: scale(1.5)
}

.active-zm {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.gold {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);;
}

.black_wall {
  background-color: #000;
}

.white_wall {
  background-color: #fff;
}

.gold_btn {
  background: linear-gradient(to right, #d6c88d 0%, #b0a071 50%, #d6c88d 100%);
  font-family: serif;
  border: 1px solid #D8CA82;
  text-shadow: 1px 2px 3px #808080; 
}

.copper_btn {
  background: linear-gradient(to right, #bab5b1 0%, #9c8b7e 25%, #9c8b7e 51%, #bab5b1 100%);
  font-family: serif;
  border: 1px solid #cec5bb;
}

.gold_frame {
  overflow: hidden;
}

.frame_border {
  position: relative;
  border: 1px solid #ca4;
  padding: 1em;
  color: #ca4;
  text-align: center;
}

.frame_border:before,
.frame_border:after,
.frame_circle:before,
.frame_circle:after {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    content: "";
    background-color: #000;
    border: 1px solid #ca4;
}

.frame_border:before {
    top: -12px;
    left: -12px;
}
.frame_border:after {
    top: -12px;
    right: -12px;
}
.frame_circle:before {
    right: -12px;
    bottom: -12px;
}
.frame_circle:after {
    left: -12px;
    bottom: -12px;
}

.gold_line {
  min-height: 10%;
  border-right: 2px solid #d6c88d;
}

/* ハンバーガーボタン */
.menu-trigger, .menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  width: 60px;
  height: 60px;
  z-index: 1000;
}
.menu-trigger span {
  position: absolute;
  left: 10px;
  width: 30px;
  height: 4px;
  background-color: gray;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 10px;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 10px;
}

.menu-trigger.open {
  position: fixed;
}

.menu-trigger.open span:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}
.menu-trigger.open span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.open span:nth-of-type(3) {
  transform: translateY(-10px) rotate(45deg);
}

/* メニュー */
.index_logo a {
  color: white;
  text-decoration: none;
}

.index_logo a:hover {
	color: white;
}



.error {
  color: red;
}

.badge-danger {
  background-color: #CC0000	;
}

.gold-title {
  display: flex;
  align-items: center;
  font-family:  Garamond Pro;
}

.gold-title::before, .gold-title::after {
  content: '';
  height: 1.5px;
  background-color: #d6c88d;
  flex-grow: 1;
}

.gold-title::before {
  margin-right: 5rem;
}
.gold-title::after {
  margin-left: 5rem;
}

.gold_table tr{
  border-bottom: 1.5px solid #d6c88d;
}

.gold_table td, .gold_table th {
  padding: 16px 0;
}

input, select {
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
}


/* トップに戻る */
.arrow-top {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  transform: rotate(45deg);
}