
/* トップページ */
video {
  object-position: 50% 50%;
}

.access_info_group {
  display: block;
}

.access_info {
  width: 80%;
  margin: 15px auto;
}

.gold_info_group {
  display: block;
  height: auto;
}

.gold_info {
  width: 90%;
  margin: 1rem auto;
}
/* 
.questionnaire_info {
  width: 80%;
} */

.info_table {
  width:80%;
}

/* 
.pt14 {
  font-size: 1vw;
} */
/* 
.picture_side {
  width: 70%;
}

.text_side {
  width: 30%; 
}
.text_side img {
  width: 90%; 
  margin-bottom: 1vw;
}
.text_side p {
  width: 90%; 
  margin-bottom: 1vw;
}

.gold_line {
  min-height: 3vw;
  margin-bottom: 1vw;
}

.gold_btn {
  font-size: 1vw;
  padding: 1vw 2vw;
} */

.read_more_area {
  display: none;
}
.read_more_area2 {
  display: block;
  /* padding-top:50px; */
}
.read_more_link2 {
  margin-top: 50px;
}
.the-logo {
  width:50%;
  display: block;
  margin: 0 auto;
}
.photo-80 {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.photo-70 {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.gold_line2 {
  /* border-right: 1px solid #ac9759; */
  border-right: 1px solid #d09a58;
  margin: 20px 0;
  width:50%;
  height: 50px;
}
.read_more {
  margin-top: 20px;
}


/* EBISUページ */
.ebisu-top img {
  width: 70%;
}
.dark-area {
  display: none;
}
.dark-area2 {
  display: block;
}
.white-area {
  display: none;
}
.white-area2 {
  display: block;
}