html, body {
  overflow-x: hidden;
  width: 100vw;
}

button {
  text-align: center;
}

/* 改行ポイント */
.bl {
  display: inline-block;
}

/* フォントtype */
/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> */
.ft1{
  font-family: 'Roboto', sans-serif;
}
/*
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet"> */
.ft2{
  font-family: 'Noto Serif JP', serif;
}
/*
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap" rel="stylesheet"> */
.ft3{
  font-family: 'Noto Serif JP', serif;
}
/* <link rel="stylesheet" href="https://use.typekit.net/ozq5hwu.css">*/
.ft4{
  font-family: 'adobe-garamond-pro', serif;
}
/*  */
.ft5{
  font-family: "A-OTF リュウミン Pro L-KL";
}
/*  */
.ft6{
  font-family: "KozGoPr6N-Regular";
}
/*  */
.ft7{
  font-family: "helveticaneue-light";
}
/*
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet"> */
.ft8{
  font-family: 'Noto Serif JP', serif;
}
/*  */
.ft9{
  font-family: "小塚ゴシック Pro M";
}
/*  */
.ft10{
  font-family: "YuGo Medium";
}
/*  */
.ft11{
  font-family: "A-OTF リュウミン Pro M-KL";
}





/* フォントサイズ */
.s9 {
  font-size: 0.5625rem;
  /* font-size: 0.75vw; */
}
.s10 {
  font-size: 0.625rem;
  /* font-size: 0.83vw; */
}
.s11 {
  font-size: 0.6875rem;
  /* font-size: 0.92vw; */
}
.s12 {
  font-size: 0.75rem;
  /* font-size: 1vw; */
}
.s13 {
  font-size: 0.8125rem;
  /* font-size: 1.08vw; */
}
.s14 {
  font-size: 0.875rem; 
  /* font-size: 1.17vw; */
}
.s15{
  font-size: 0.9375rem;
  /* font-size: 1.25vw; */
}
.s16{
  font-size: 1rem;
  /* font-size: 1.333vw; */
}
.s18{
  font-size: 1.125rem;
  /* font-size: 1.5vw; */
}
.s19{
  font-size: 1.1875rem;
  /* font-size: 1.58vw; */
}
.s20{
  font-size: 1.25rem;
  /* font-size: 1.67vw; */
}
.s21{
  font-size: 1.3125rem;
  /* font-size: 1.75vw; */
}
.s24{
  font-size: 1.5rem;
  /* font-size: 2vw; */
}
.s27{
  font-size: 1.6875rem;
  /* font-size: 2.25vw; */
}
.s30{
  font-size: 1.875rem;
  /* font-size: 2.5vw; */
}

.s42{
  font-size: 2.625rem;
  /* font-size: 3.5vw; */
}





/* フォントサイズ(pt) */
.pt8 {
  font-size: 8pt;
}
.pt9 {
  font-size: 9pt;
}
.pt10 {
  font-size: 10pt;
}
.pt11 {
  font-size: 11pt;
}
.pt12 {
  font-size: 12pt;
}
.pt13 {
  font-size: 13pt;
}
.pt14 {
  font-size: 14pt;
}
.pt16 {
  font-size: 16pt;
}
.pt18 {
  font-size: 18pt;
}
.pt19 {
  font-size: 19pt;
}
.pt20 {
  font-size: 20pt;
}
.pt24 {
  font-size: 24pt;
}
.pt30 {
  font-size: 30pt;
}
.pt42 {
  font-size: 42pt;
}


/* 背景設定 */
.bg-black{
  background-color:#000000;
}

/* 特殊余白 */
.mt-ex{
  margin:200px 0 0 0;
}

/* アクセスページ */
.taxi_table td {
  padding: 10px;
}

.access_info p {
  margin: 0;
}

/* メニュー */
.absolute{
  position: absolute;
}
.logo_p{
  margin-top: 20px;
  margin-left: 60px;
}
.logo_s{
  width: 120px;
}
.menu_p {
  margin-left: 100%;
}



/* ヘッダー */
.header {
  background-color: black;
  z-index: 10000;
  border-bottom: 1px solid #B67B03;
  border-image: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
  border-image-slice: 1;
  width: 100%;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title{

}

.header_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 200px);
}

.new-mark, .blank {
  line-height: 110%;
  margin: 0;
  padding: 0 3px;
  display: inline-block;
}

.new-mark {
  background-color: red;
}

.header_link a {
  text-decoration: none;
}

.white_link, .white_link:hover {
  color: white;
}

.gray_link, .gray_link:hover {
  color: gray;
}

.entry_btn {
  border: none;
  /* background: linear-gradient(to right, #bab5b1 0%, #9c8b7e 25%, #9c8b7e 51%, #bab5b1 100%); */
  background-color: #9c8b7e;
}

.questionnaire_btn {
  background-color: #444444;
  border: none;
}

.header_menu_trigger {
  background-color: white;
}

.batsu {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.batsu::before, .batsu::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background: gray;
}

.batsu::before {
  transform: translate(-50%,-50%) rotate(45deg);
}

.batsu::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

/* フッター */
.footer {
  background-color: black;
}

.footer p {
  margin: 0;
}

.footer_link a {
  color: white;
  text-decoration: none;
}

/* トップページ */
.first_view {
  position: relative;
  display: flex;
  align-items: auto;
}

video {
  object-fit: cover;
  object-position: 50% 50%;
}

.movie_skip_btn {
  margin-bottom: 30px;
  margin-right: 30px;
  font-family: serif;
}

.second_view p, .second_view span {
  margin: 0;
}

.access_info_group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gold_info_group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 110px;
}

.gold_info {
  width: 35%;
  margin: 0 10px;
}

.questionnaire_info {
  /* width: 40%; */
}

.info_table {
  width: 600px;
}

.info_table > tbody > tr {
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.info_table > tbody > td {

}

.picture_side {
  width: 65%;
  display:flex;
  align-items: auto;
}
.picture_side img {
  /* width: 40%;  */
}
.text_side {
  /* width: 30%;  */
}
.text_side img {
  
}
.text_side p {
  width: 100%;
  margin-bottom: 1.5rem;
}
.gold_line {
  min-height: 1%;
  border-right: 0.0625rem solid #ac9759;
  margin-bottom: 1.5rem;
}
.gold_line_bottom {
  border-bottom: 0.125rem solid #d6c88d;
}
.read_more {
  width: 13.125rem;
  height: 3.75rem;
  padding: 1.25rem 3.75rem;
  /* width:17.5vw; */
  /* height:5vw; */
  /* padding: 1.67vw 5vw;  */
}

/* EBISUリンク */
.ebisu_col {
  /* padding: 0 1.6875rem 0 4.375rem; */
  /* padding: 0 2.25vw 0 5.83vw; */
  /* padding: 0 0 0 70px;  */
  margin-left: 70px;
}
.ebisu_img {
  width: 80%;
}
.ebisu_p {

}
.ebisu_line {
  width:40%;
}

/* LOCATIONリンク */
.location_col {
  /* padding: 0 0.9375rem 0 6.875rem; */
  /* padding-right: 1.25vw; */
  /* padding: 0 15px 0 110px; */
}
.location_img {
  /* width: calc(100% - 3.125rem); */
  /* width: calc(100% - 4.17vw); */
  /* width: calc(100% - 50px); */
}
.location_pic {
  /* width: calc(100% - 7px);  */
  /* height: calc(50% - 0.625rem);
  object-fit: cover;
  object-position: 100% 100%; */
}

/* ACCESSリンク */
.access_col {
  /* padding: 0 1.125rem 0 3.75rem; */
  /* padding: 0 0 0 70px; */
  margin-left: 70px;
}
.access_img {
  width: 85%;
}
.access_p {

}
.access_line {
  width:40%;
}

.design_col {
  /* padding: 0 2.8125rem 0 6.25rem; */
  /* padding: 0 3.75vw 0 0; */
}

/* 物件概要ページ */
.ov-m {
  padding: 150px 0px 40px 0px;
}
.ov-t1{
  text-align:center;
  position:relative;
}
.ov_gold_table{
  margin-left: auto;
  margin-right: auto;
  width: 870px;
}
.ov_comment{
  margin-left: auto;
  margin-right: auto;
  width: 870px;
}

.ov_gold_table > tbody > tr{
  border-bottom: 2px solid #d6c88d;
}
.ov_gold_table > tbody > tr > td,
.ov_gold_table > tbody > tr > th {
  padding: 16px 0;
}
.ov_m1{
  margin-top: 60px;
}
.ov_m2{
  margin-top: 45px;
  margin-bottom: 40px;
}


/* 現地案内ページ */
.map-m {
  padding: 150px 0px 40px 0px;
}
.map-t1{
  text-align:center;
  position:relative;
}
.map_comment{
  margin-left: auto;
  margin-right: auto;
  width: 870px;
}
.map_but{
  display: flex;
  justify-content: center;
}
.map_but_s{
  height: 60px;
  width: 210px;
}
.map_img{
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
}
.map_but_img{
  height: 30px;
}
.map_m1{
  margin-top: 50px;
  margin-bottom: 50px;
}
.map_m2{
  margin-top: 20px;
  margin-bottom: 40px;
}
.map_m3{
  margin: 7px;

}
.map_side_layout{
  display: inline-block;
  justify-content: center;
  margin: 0 20px 0 0;
}






/*アニメーション-1*/
.animation, .logo_animation, .menu_animation{
  opacity : 0;
  visibility: hidden;
  transition: 2s;
  transform: translateY(30px);
}
/*アニメーション-1の変化後*/
.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* アニメーション-2 */
.animation-0-zm {
  opacity : 0;
  visibility: hidden;
  transition: 2s;
  transform: scale(1.2)
}

/* アニメーション-2の変化後 */
.active-0-zm {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

/* アニメーション-3 */
.animation-1-zm{
  opacity : 0;
  visibility: hidden;
  transition: 4s;
  transform: scale(1.2)
}

/* アニメーション-3の変化後 */
.active-1-zm {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

/* アニメーション-4 */
.animation-2-zm{
  opacity : 0;
  visibility: hidden;
  transition: 2s;
  transform: scale(1.1)
}

/* アニメーション-4の変化後 */
.active-2-zm {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}


.gold {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
}

.gold-2 {
  color: #d09a58;
}

.black_wall {
  background-color: #000;
}

.white_wall {
  background-color: #fff;
}

.gold_btn {
  /* background: linear-gradient(to right, #d6c88d 0%, #b0a071 50%, #d6c88d 100%); */
  background-color: #ac9759;
  border: 1px solid #D8CA82;
  text-shadow: 2px 2px 2px #000000;
  /* padding: 15px 70px; */
}

.copper_btn {
  /* background: linear-gradient(to right, #bab5b1 0%, #9c8b7e 25%, #9c8b7e 51%, #bab5b1 100%); */
  background-color: #9c8b7e;
  border: 1px solid #cec5bb;
}

.gold_frame {
  overflow: hidden;
}

.frame_border {
  position: relative;
  border: 1px solid #ca4;
  padding: 1em;
  color: #ca4;
  text-align: center;
}

.frame_circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 100%;
}

.frame_border:before,
.frame_border:after,
.frame_circle:before,
.frame_circle:after {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    content: "";
    background-color: #000;
    border: 1px solid #ca4;
}

.frame_border:before {
    top: -12px;
    left: -12px;
}
.frame_border:after {
    top: -12px;
    right: -12px;
}
.frame_circle:before {
    right: -12px;
    bottom: -12px;
}
.frame_circle:after {
    left: -12px;
    bottom: -12px;
}

.border-gold {
  border: 1px solid #B67B03;
  border-image: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
  border-image-slice: 1;
}

.border-gold-2 {
  border: 1px solid #B67B03;
  border-image: #d09a58;
  border-image-slice: 1;
}



/* ハンバーガーボタン */
.menu-trigger, .menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  width: 60px;
  height: 60px;
  z-index: 1000;
  background-color: white;
}
.menu-trigger span {
  position: absolute;
  left: 10px;
  width: 30px;
  height: 4px;
  background-color: gray;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 10px;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 10px;
}

.menu-trigger.open {
  position: fixed;
}

.menu-trigger.open span:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}
.menu-trigger.open span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.open span:nth-of-type(3) {
  transform: translateY(-10px) rotate(45deg);
}

/* メニュー */
.index_logo a {
  color: white;
  text-decoration: none;
}

.index_logo a:hover {
	color: white;
}

.menu-trigger {

}

.error {
  color: red;
}

.badge-danger {
  background-color: #CC0000	;
  margin: 0 5px;
}

.gold-title {
  display: flex;
  align-items: center;
}

.gold-title::before,
.gold-title::after {
  content: '';
  height: 2px;
  /* background-color: #d6c88d; */
  /* background-color: #ca4; */
  background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
  flex-grow: 1;
}

.gold-title::before {
  margin-right: 2rem;
}
.gold-title::after {
  margin-left: 2rem;
}

.gold-title-2 {
  display: flex;
  align-items: center;
}

.gold-title-2::before,
.gold-title-2::after {
  content: '';
  height: 2px;
  /* background-color: #d6c88d; */
  /* background-color: #ca4; */

  background-color: #d09a58;
  flex-grow: 1;
}

.gold-title-2::before {
  margin-right: 2rem;
}
.gold-title-2::after {
  margin-left: 2rem;
}

.gold_table > tbody > tr{
  border-bottom: 2px solid #d6c88d;
}

.gold_table > tbody > tr > td,
.gold_table > tbody > tr > th {
  padding: 16px 0;
}

.gold_table .column1 {
  width: 22%;
}

.gold_table .column3 {
  width: 65%;
}

.table_nest > tr > th {
  vertical-align: top;
}

input, select {
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
}


/* トップに戻るボタン */
.arrow-top {
  transform: scale(4, 2);
}


/* マウスホバー */
.mh-parts {
	display: inline-block;
	transition: all .3s ease 0s;
	text-decoration: none;
}

.mh-parts:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.print_btn {
  border: none;
  background: linear-gradient(to right, #d6c88d 0%, #b0a071 50%, #d6c88d 100%);
  border: 1px solid #D8CA82;
  text-shadow: 2px 2px 2px #000000;
}

.print_btn-2 {
  border: none;
  background-color: #ac9759;
  border: 1px solid #D8CA82;
  text-shadow: 2px 2px 2px #000000;
}

.map_btn {
  background-color: #444444;
  border: none;
  text-shadow: 2px 2px 2px #000000;
}

.print-off {
  display: none;
}

/*
 アンケートページ(questionnaire.blade.php)
*/
.questionnaire > ul > li {
  display: inline-block;
  list-style: none;
  margin: 3px;
  line-height: 1.5em;
}

.questionnaire > ul {
  margin: 0 0 0 20px;
  padding: 0;
}

.questionnaire {
  margin: 3px 30px 15px;
}

.questionnaire > p {
  padding: 0 0;
  margin: 0 0;
}

.question-num{
	padding:2px 8px; /* 枠と文字の空間 */
	margin:0 5px; /* 枠の外の空間 */
	background-color:#000000; /* 枠の背景色 */
  color: white;
	border:1px solid #777; /* 枠の線の太さ・種類・色 */
	border-radius:3px; /* 枠の角を丸くする */
	box-shadow: 1px 2px 2px #ddd; /*影をいれる*/
	font-size:0.85em;	/* フォントの大きさ */
}

.question-num-2{
	padding:2px 4px; /* 枠と文字の空間 */
	margin:0 5px; /* 枠の外の空間 */
	background-color:#000000; /* 枠の背景色 */
  color: white;
	border:1px solid #777; /* 枠の線の太さ・種類・色 */
	border-radius:3px; /* 枠の角を丸くする */
	box-shadow: 1px 2px 2px #ddd; /*影をいれる*/
	font-size:0.85em;	/* フォントの大きさ */
}


input[type="checkbox"], input[type="radio"] {
  margin-right: 5px;
}


td.h-40px {
  height: 40px;
}

td.h-110px {
  height: 110px;
}

.m-none {
  margin: 0;
}

#questionnaire .column1 {
  width: 22%;
}

#questionnaire .column3 {
  width: 65%;
}

#qustionnaire .mb-20px {
  margin-bottom: 20px;
}

#questionnaire .mt-20px {
  margin-top: 20px;
}

#questionnaire .mr-20px {
  margin-right: 20px;
}

#questionnaire .mb-25px {
  margin-bottom: 25px;
}

#questionnaire .mt-30px {
  margin-top: 30px;
}

#questionnaire .img1 {
  padding-bottom: 40px;
}

#questionnaire .mb-45px {
  margin-bottom: 45px;
}

#questionnaire .caption1 {
  margin-bottom: 25px;
}

.gold_table > tbody > tr.top{
  border-top: 2px solid #d6c88d;
}

.table_questionnaire {
  margin: 0 20px 50px;
}

/*
  アンケートページここまで
*/