html, body {
  overflow-x: hidden;
  width: 100%;
}

button {
  text-align: center;
}

.common_layout {
  padding: 0 0 110px; 
  background-color: #3e3a39;
}

.common_layout2 {
  padding: 0 0 110px;
}

/* PCフッターのトップへ戻るボタン */
.to-page-top {
  padding: 25px 0 45px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.to-page-top2 {
  background-color:#3e3a39;
  padding: 45px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* SPのみ出現 */
.pc_hid {
  display:none;
}

/* PCのみ出現 */
.sp_hid {
  display:block;
}

/* SPのみのインデント */
.sp_indent {
  display: none;
}

/* 改行ポイント */
.bl {
  display: inline-block;
}

/* フォントtype */
/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> */
.ft1{
  font-family: 'Roboto', sans-serif;
}
/*
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet"> */
.ft2{
  font-family: 'Noto Serif JP', serif;
}
/*
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap" rel="stylesheet"> */
.ft3{
  font-family: 'Noto Serif JP', serif;
}
/* <link rel="stylesheet" href="https://use.typekit.net/ozq5hwu.css">*/
.ft4{
  font-family: 'adobe-garamond-pro', serif;
}
/*  */
.ft5{
  font-family: "A-OTF リュウミン Pro L-KL";
}
/*  */
.ft6{
  font-family: "KozGoPr6N-Regular";
}
/*  */
.ft7{
  font-family: "helveticaneue-light";
}
/*
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet"> */
.ft8{
  font-family: 'Noto Serif JP', serif;
}
/*  */
.ft9{
  font-family: "小塚ゴシック Pro M";
}
/*  */
.ft10{
  font-family: "YuGo Medium";
}
/*  */
.ft11{
  font-family: "A-OTF リュウミン Pro M-KL";
}





/* フォントサイズ */
.chrome .s9{
  -webkit-transform: scale(0.8);
  -webkit-transform-origin:-100% 0;
}
.s9 {
  font-size: 0.5625rem;
  /* font-size: 0.75vw; */
}
.s10 {
  font-size: 0.625rem;
  /* font-size: 0.83vw; */
}
.s11 {
  font-size: 0.6875rem;
  /* font-size: 0.92vw; */
}
.s12 {
  font-size: 0.75rem;
  /* font-size: 1vw; */
}
.s13 {
  font-size: 0.8125rem;
  /* font-size: 1.08vw; */
}
.s14 {
  font-size: 0.875rem; 
  /* font-size: 1.17vw; */
}
.s15{
  font-size: 0.9375rem;
  /* font-size: 1.25vw; */
}
.s16{
  font-size: 1rem;
  /* font-size: 1.333vw; */
}
.s18{
  font-size: 1.125rem;
  /* font-size: 1.5vw; */
}
.s19{
  font-size: 1.1875rem;
  /* font-size: 1.58vw; */
}
.s20{
  font-size: 1.25rem;
  /* font-size: 1.67vw; */
}
.s21{
  font-size: 1.3125rem;
  /* font-size: 1.75vw; */
}
.s24{
  font-size: 1.5rem;
  /* font-size: 2vw; */
}
.s27{
  font-size: 1.6875rem;
  /* font-size: 2.25vw; */
}
.s30{
  font-size: 1.875rem;
  /* font-size: 2.5vw; */
}

.s42{
  font-size: 2.625rem;
  /* font-size: 3.5vw; */
}





/* フォントサイズ(pt) */
.pt8 {
  font-size: 8pt;
}
.pt9 {
  font-size: 9pt;
}
.pt10 {
  font-size: 10pt;
}
.pt11 {
  font-size: 11pt;
}
.pt12 {
  font-size: 12pt;
}
.pt13 {
  font-size: 13pt;
}
.pt14 {
  font-size: 14pt;
}
.pt16 {
  font-size: 16pt;
}
.pt18 {
  font-size: 18pt;
}
.pt19 {
  font-size: 19pt;
}
.pt20 {
  font-size: 20pt;
}
.pt24 {
  font-size: 24pt;
}
.pt30 {
  font-size: 30pt;
}
.pt42 {
  font-size: 42pt;
}


/* 背景設定 */
.bg-black{
  background-color:#000000;
}

/* 特殊余白 */
.mt-ex{
  margin:200px 0 0 0;
}

/* メニュー */
.absolute{
  position: absolute;
}
.logo_p{
  z-index:500;
  margin-top: 23px;
  margin-left: 60px;
}
.logo_s{
  width: 120px;
}
.menu_p {
  z-index:500;
  /* margin: 20px 30px auto auto; */
  top: 20px;
  right: 30px;
}

/* ヘッダー */
.header {
  background-color: black;
  z-index: 10000;
  border-bottom: 1px solid #B67B03;
  border-image: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
  border-image-slice: 1;
  width: 100%;
  padding: 20px 30px 10px 60px;
}

.header_content {
  display: flex;
  align-items: center;
}
.header_content2 {
  display: none;
}

.header_title{

}

.header_links {
  display: flex;
  align-items: center;
  /* width: calc(100% - 200px); */
  margin-right: 0;
  margin-left: auto;
}

.new-mark, .blank {
  line-height: 110%;
  margin: 0;
  padding: 0 3px;
  display: inline-block;
}

.new-mark {
  background-color: red;
}

.header_link a {
  text-decoration: none;
}

.white_link, .white_link:hover {
  color: white;
}

.gray_link, .gray_link:hover {
  color: gray;
}

.entry_btn {
  border: none;
  /* background: linear-gradient(to right, #bab5b1 0%, #9c8b7e 25%, #9c8b7e 51%, #bab5b1 100%); */
  background-color: #9c8b7e;
}

.questionnaire_btn {
  background-color: #444444;
  border: none;
}

.header_menu_trigger {
  background-color: white;
}

.batsu {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.batsu::before, .batsu::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background: gray;
}

.batsu::before {
  transform: translate(-50%,-50%) rotate(45deg);
}

.batsu::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

/* フッター */
.footer {
  background-color: black;
}
.footer_content {
  display: flex; 
  align-items: center; 
  padding: 10px 40px 10px 50px; 
  position: relative;
  height: 110px;
}
.footer_right {
  position: absolute; 
  right: 50px; 
  bottom: 10px;
}
.footer_right p {
  text-align:right;
}

.footer p {
  margin: 0;
}

.footer_link a {
  color: white;
  text-decoration: none;
}

.footer_logo_area {
  display: flex;
  align-items: center;
}
/* SPフッターのトップへ戻るボタン */
.to-top-sp {
  display: none;
}


/* トップページ */
.first_view {
  position: relative;
  background-color: #000;
}

video {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}

.sp_movie {
  display: none;
}

.movie_skip_btn {
  margin-bottom: 30px;
  margin-right: 30px;
  font-family: serif;
}

.black_wall {
  background-color: #000;
  padding: 80px 0 70px;
}

.access_info_group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.access_info_group2 {
  display: none;
}

.gold_info_area {
  margin-bottom: 85px;
}
.gold_info_area2 {
  display: none;
}

.gold_info_area p, .gold_info_area span {
  margin: 0;
}

.gold_info_group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 110px;
}

.gold_info {
  width: 504px;
  margin: 0 10px;
}

.gold_frame {
  overflow: hidden;
}

.frame_border {
  position: relative;
  border: 1px solid #ca4;
  padding: 1em;
  color: #ca4;
  text-align: center;
}

.frame_circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 100%;
}

.frame_border:before,
.frame_border:after,
.frame_circle:before,
.frame_circle:after {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    content: "";
    background-color: #000;
    border: 1px solid #ca4;
}

.frame_border:before {
    top: -12px;
    left: -12px;
}
.frame_border:after {
    top: -12px;
    right: -12px;
}
.frame_circle:before {
    right: -12px;
    bottom: -12px;
}
.frame_circle:after {
    left: -12px;
    bottom: -12px;
}

.questionnaire_info_area {
  margin-bottom: 75px;
}

.info_title {
  width: 80%; 
  margin: 0 auto 45px; 
}

.questionnaire_info {
  display: flex;
  justify-content: center;
}

.to_questionnaire {

}

.info_table {
  width: 600px;
  margin: 0 auto;
}

.info_table > tbody > tr {
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.date-td-1 {
  padding-bottom: 25px;
}

.text-td-1 {
  padding-left: 55px;
}

.date-td-2 {
  padding: 25px 0;
}

.text-td-2 {
  padding: 25px 0px 25px 55px;
}


.read_more_area {
  padding-top:80px;
}
.read_more_area2 {
  display: none;
}

.read_more_link {
  display: flex;
  justify-content: start;
  align-items: auto;
  width: 100%;
  margin-bottom:130px;
}
.read_more_link_r {
  display: flex;
  justify-content: end;
  align-items: auto;
  width: 100%;
  margin-bottom:130px;
}

.picture_side {
  display:flex;
  align-items: auto;
  width:65%;
}

.text_side {
  width:35%;
}

.text_side p {
  width: 100%;
  margin: 20px 0 24px;
}

.gold_line {
  min-height: 1%;
  border-right: 1px solid #ac9759;
  margin-bottom: 24px;
  width:30%;
}

.gold_line_bottom {
  border-bottom: 2px solid #d6c88d;
}

.gold-title-4 {
  display: flex;
  align-items: center;
}

.gold-title-4::before,
.gold-title-4::after {
  content: '';
  height: 2px;
  /* background-color: #d6c88d; */
  /* background-color: #ca4; */

  background-color: #d09a58;
  flex-grow: 1;
}

.gold-title-4::before {
  margin-right: 60px;
}

.gold-title-4::after {
  margin-left: 60px;
}

.w-60 {
  width: 60%;
}

.read_more {
  width: 210px;
  height: 60px;
  padding: 20px 60px;
  line-height:100%;
  margin: 0 auto; 
  display: block;
  /* width:17.5vw; */
  /* height:5vw; */
  /* padding: 1.67vw 5vw;  */
}

/* EBISUリンク */
.ebisu_col {
  /* padding: 0 1.6875rem 0 4.375rem; */
  /* padding: 0 2.25vw 0 5.83vw; */
  /* padding: 0 0 0 70px;  */
  /* padding-right: 18px; */
  /* margin-right: 27px; */
  margin-left: 60px;
}
.ebisu_img {
  width: 18.75vw;
}
.ebisu_p {
}
.ebisu_line {
  width:30%;
}

/* LOCATIONリンク */
.location_col {
  /* padding: 0 0.9375rem 0 6.875rem; */
  /* padding-right: 1.25vw; */
  /* padding: 0 15px 0 110px; */
  margin-right: 60px;
  width:-moz-fit-content; /* Firefox */
  width:fit-content; /* other browsers */
}
.location_p {
  width:-moz-fit-content; /* Firefox */
  width:fit-content; /* other browsers */
}
.location_img {
  /* width: calc(100% - 3.125rem); */
  /* width: calc(100% - 4.17vw); */
  /* width: calc(100% - 50px); */
  width: 19vw;
}
.location_pics {
  padding-right:38px;
  width: 57%;
}
.location_pic_pair1, .location_pic_pair2 {
  display: flex;
  flex-direction: column;
  width:calc(50% - 7px);
}
.location_pic_pair2 {
  margin-left: 14px
}
.location_pic {
  /* width: calc(100% - 7px);  */
  /* height: calc(50% - 0.625rem);
  object-fit: cover;
  object-position: 100% 100%; */
}
.bottom_pic {
  margin-top: 20px;
}
.location_line {
  width: 30%;
}

/* ACCESSリンク */
.access_pic {
  display: flex;
  flex-direction: column;
}
.access_col {
  /* padding: 0 1.125rem 0 3.75rem; */
  /* padding: 0 0 0 70px; */
  /* padding-right: 18px; */
  margin-left: 60px;
}
.access_img {
  width: 20vw;
}
.access_p {
}
.access_line {
  width:30%;
}

/* DESIGNリンク */
.design_col {
  /* padding: 0 2.8125rem 0 6.25rem; */
  /* padding: 0 3.75vw 0 0; */
  margin-right: 60px;
  width:-moz-fit-content; /* Firefox */
  width:fit-content; /* other browsers */
}
.design_p {
  width:-moz-fit-content; /* Firefox */
  width:fit-content; /* other browsers */
}
.design_img {
  width: 20vw;
}

.design_pic {
  width: 57%;
}
/* PLANリンク */
.plan_img {
  width: 20vw;
}

.bland_img_link {
  display: block;
  width:90%;
  margin-top: 50px;
}
.bland_img_link_sp {
  display: none;
}

/* ENTRYリンク */
.entry_link {
  margin: 60px 0 50px;
}

.entry_link button {
  display: block;
  margin: 0 auto;
  width: 350px;
  padding: 15px 0;
}

/* 注釈 */
.comment-area {
  margin: 0 auto;
  width: 870px;
}
.comment-area p {
  white-space:nowrap;
}

/* トップページここまで */


/* EBISUページ（Concept） */
.ebisu-top {
  display: flex;
  justify-content: center;
  background-color: #000;
}
.ebisu-top img {
  width: 25%;
  margin-top: 200px;
}
.dark-area {
  max-width: 1200px; 
  padding:40px 40px 0 40px;
  margin: 0 auto;
}
.dark-area2 {
  display: none;
}

.white-area {
  /* max-width: 1200px;  */
  max-width: 1120px; 
  /* padding:35px 40px 0 45px;  */
  padding:35px 20px 0; 
  margin: 0 auto 30px;
}
.white-area2 {
  display: none;
}
/* EBISUページ（Concept）ここまで */


/* ACCESSページ */
.access-top {
  display: flex;
  justify-content: center;
  background-color: #000;
}
.access-top img {
  width: 25%;
  margin-top: 200px;
}
.access-main-content2 {
  display: none;
}

.taxi_table td {
  padding: 8px 15px;
  vertical-align: middle;
}

.access_info p {
  margin: 0;
}
/* ACCESSページ ここまで */



/* 物件概要ページ */
.ov-m {
  padding: 150px 0px 40px 0px;
}
.ov-t1{
  text-align:center;
  position:relative;
}
.ov_gold_table{
  margin-left: auto;
  margin-right: auto;
  width: 870px;
}
.ov_comment{
  margin-left: auto;
  margin-right: auto;
  width: 870px;
}

.ov_gold_table > tbody > tr{
  border-bottom: 2px solid #d6c88d;
}
.ov_gold_table > tbody > tr > td,
.ov_gold_table > tbody > tr > th {
  padding: 16px 0;
}
.ov_m1{
  margin-top: 60px;
}
.ov_m2{
  margin-top: 45px;
  margin-bottom: 40px;
}
.ov_title_td {
  width: 215px;
}
.mx-200 {
  margin: 0 200px;
}


/* 現地案内ページ */
.map-m {
  padding: 150px 0px 40px 0px;
}
.map-t1{
  text-align:center;
  position:relative;
}
.map_comment{
  margin-left: auto;
  margin-right: auto;
  width: 870px;
}
.map_but{
  display: flex;
  justify-content: center;
}
.map_but_s{
  height: 60px;
  width: 210px;
}
.map_img{
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
}
.map_but_img{
  height: 30px;
}
.map_m1{
  margin-top: 50px;
  margin-bottom: 50px;
}
.map_m2{
  margin-top: 20px;
  margin-bottom: 40px;
}
.map_m3{
  margin: 7px;

}
.map_side_layout{
  display: inline-block;
  justify-content: center;
  margin: 0 20px 0 0;
}






/*アニメーション-1*/
.animation, .logo_animation, .menu_animation{
  opacity : 0;
  visibility: hidden;
  transition: 2s;
  transform: translateY(30px);
}
/*アニメーション-1の変化後*/
.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* アニメーション-2 */
.animation-0-zm {
  opacity : 0;
  visibility: hidden;
  transition: 2s;
  transform: scale(1.2)
}

/* アニメーション-2の変化後 */
.active-0-zm {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

/* アニメーション-3 */
.animation-1-zm{
  opacity : 0;
  visibility: hidden;
  transition: 4s;
  transform: scale(1.2)
}

/* アニメーション-3の変化後 */
.active-1-zm {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

/* アニメーション-4 */
.animation-2-zm{
  opacity : 0;
  visibility: hidden;
  transition: 2s;
  transform: scale(1.1)
}

/* アニメーション-4の変化後 */
.active-2-zm {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}


.gold {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
}

.gold-2 {
  color: #d09a58;
}

.white_wall {
  background-color: #fff;
}

.gold_btn {
  /* background: linear-gradient(to right, #d6c88d 0%, #b0a071 50%, #d6c88d 100%); */
  background-color: #ac9759;
  border: 1px solid #D8CA82;
  text-shadow: 2px 2px 2px #000000;
}

.copper_btn {
  /* background: linear-gradient(to right, #bab5b1 0%, #9c8b7e 25%, #9c8b7e 51%, #bab5b1 100%); */
  background-color: #9c8b7e;
  border: 1px solid #cec5bb;
}

.border-gold {
  border: 1px solid #B67B03;
  border-image: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
  border-image-slice: 1;
}

.border-gold-2 {
  border: 1px solid #B67B03;
  border-image: #d09a58;
  border-image-slice: 1;
  padding: 40px;
}

.border-gold-2 span {
  border-bottom:1px solid white;
  padding-bottom: 5px;
}

.border-gold-2 div {
  width: 29.2vw; 
  height: 4.17vw; 
  margin: 3.125rem auto 0;
}
.to_questionnaire {
  width:100%;
  padding: 10px 0; 
  margin-top: 30px;
}



/* ハンバーガーボタン */
.menu-trigger, .menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  width: 60px;
  height: 60px;
  z-index: 1000;
  background-color: white;
}
.menu-trigger span {
  position: absolute;
  left: 10px;
  width: 30px;
  height: 4px;
  background-color: gray;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 10px;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 10px;
}

.menu-trigger.open {
  position: fixed;
}

.menu-trigger.open span:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}
.menu-trigger.open span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.open span:nth-of-type(3) {
  transform: translateY(-10px) rotate(45deg);
}

/* メニュー */
.index_logo a {
  color: white;
  text-decoration: none;
}

.index_logo a:hover {
	color: white;
}

.menu-trigger {

}

.error {
  color: red;
}

.badge-danger {
  background-color: #CC0000	;
  margin: 0 5px;
}

.gold-title {
  display: flex;
  align-items: center;
}

.gold-title::before,
.gold-title::after {
  content: '';
  height: 2px;
  /* background-color: #d6c88d; */
  /* background-color: #ca4; */
  background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
  flex-grow: 1;
}

.gold-title::before {
  margin-right: 2rem;
}
.gold-title::after {
  margin-left: 2rem;
}

.gold-title-2 {
  display: flex;
  align-items: center;
}

.gold-title-2::before,
.gold-title-2::after {
  content: '';
  height: 2px;
  /* background-color: #d6c88d; */
  /* background-color: #ca4; */

  background-color: #d09a58;
  flex-grow: 1;
}

.gold-title-2::before {
  margin-right: 2rem;
}
.gold-title-2::after {
  margin-left: 2rem;
}

.gold_table > tbody > tr{
  border-bottom: 2px solid #d6c88d;
}

.gold_table > tbody > tr > td,
.gold_table > tbody > tr > th {
  padding: 16px 0;
}

.gold_table .column1 {
  width: 22%;
}

.gold_table .column3 {
  width: 65%;
}

.table_nest > tr > th {
  vertical-align: top;
}

input, select {
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
}


/* トップに戻るボタン */
.arrow-top {
  transform: scale(4, 2);
}


/* マウスホバー */
.mh-parts {
	display: inline-block;
	transition: all .3s ease 0s;
	text-decoration: none;
}

.mh-parts:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.print_btn {
  border: none;
  background: linear-gradient(to right, #d6c88d 0%, #b0a071 50%, #d6c88d 100%);
  border: 1px solid #D8CA82;
  text-shadow: 2px 2px 2px #000000;
}

.print_btn-2 {
  border: none;
  background-color: #ac9759;
  border: 1px solid #D8CA82;
  text-shadow: 2px 2px 2px #000000;
}

.map_btn {
  background-color: #444444;
  border: none;
  text-shadow: 2px 2px 2px #000000;
}

.print-off {
  display: none;
}

/*
 アンケートページ(questionnaire.blade.php)
*/
#questionnaire {
  width: 800px;
  margin: 0 auto 40px;
  padding-top: 150px;
}

.questionnaire > ul > li {
  display: inline-block;
  list-style: none;
  margin: 3px;
  line-height: 1.5em;
  white-space: nowrap;
}

.questionnaire > ul {
  margin: 0 0 0 20px;
  padding: 0;
}

.questionnaire {
  margin: 0 30px 0;
}

.questionnaire > p {
  padding: 0 0;
  margin: 0 0;
  
}

.question-num{
	padding:2px 8px; /* 枠と文字の空間 */
	margin:0 5px; /* 枠の外の空間 */
	background-color:#000000; /* 枠の背景色 */
  color: white;
	border:1px solid #777; /* 枠の線の太さ・種類・色 */
	border-radius:3px; /* 枠の角を丸くする */
	box-shadow: 1px 2px 2px #ddd; /*影をいれる*/
	font-size:0.85em;	/* フォントの大きさ */
}

.question-num-2{
	padding:2px 4px; /* 枠と文字の空間 */
	margin:0 5px; /* 枠の外の空間 */
	background-color:#000000; /* 枠の背景色 */
  color: white;
	border:1px solid #777; /* 枠の線の太さ・種類・色 */
	border-radius:3px; /* 枠の角を丸くする */
	box-shadow: 1px 2px 2px #ddd; /*影をいれる*/
	font-size:0.85em;	/* フォントの大きさ */
}


input[type="checkbox"], input[type="radio"] {
  margin: 0 5px 3px 0;
}

td.h-40px {
  height: 40px;
}

td.h-110px {
  height: 110px;
}

.m-none {
  margin: 0;
}

#questionnaire .column1 {
  width: 22%;
}

#questionnaire .column3 {
  width: 65%;
}

#questionnaire .mt-20px {
  margin-top: 20px;
}

#questionnaire .mb-20px {
  margin-bottom: 20px;
}
#qustionnaire .mb-20px {
  margin-bottom: 20px;
}

#questionnaire .mt-20px {
  margin-top: 20px;
}

#questionnaire .mr-20px {
  margin-right: 20px;
}

#questionnaire .ml-20px {
  margin-left: 20px;
}

#questionnaire .pt-20px {
  padding-top: 20px;
}

#questionnaire .pb-20px {
  padding-bottom: 20px;
}

#questionnaire .pr-20px {
  padding-right: 20px;
}

#questionnaire .pl-20px {
  padding-left: 20px;
}

#questionnaire .mt-25px {
  margin-top: 25px;
}

#questionnaire .mb-25px {
  margin-bottom: 25px;
}

#questionnaire .mr-25px {
  margin-right: 25px;
}

#questionnaire .ml-25px {
  margin-left: 25px;
}

#questionnaire .pt-25px {
  padding-top: 25px;
}

#questionnaire .pb-25px {
  padding-bottom: 25px;
}

#questionnaire .pr-25px {
  padding-right: 25px;
}

#questionnaire .pl-25px {
  padding-left: 25px;
}
#questionnaire .mt-30px {
  margin-top: 30px;
}
#questionnaire .mb-30px {
  margin-bottom: 30px;
}
#questionnaire .mr-30px {
  margin-right: 30px;
}
#questionnaire .ml-30px {
  margin-left: 30px;
}

#questionnaire .pt-30px {
  padding-top: 30px;
}

#questionnaire .pb-30px {
  padding-bottom: 30px;
}

#questionnaire .pr-30px {
  padding-right: 30px;
}

#questionnaire .pl-30px {
  padding-left: 30px;
}


#questionnaire .mt-35px {
  margin-top: 35px;
}
#questionnaire .mb-35px {
  margin-bottom: 35px;
}
#questionnaire .mr-35px {
  margin-right: 35px;
}
#questionnaire .ml-35px {
  margin-left: 35px;
}

#questionnaire .pt-35px {
  padding-top: 35px;
}

#questionnaire .pb-35px {
  padding-bottom: 35px;
}

#questionnaire .pr-35px {
  padding-right: 35px;
}

#questionnaire .pl-35px {
  padding-left: 35px;
}

#questionnaire .mt-40px {
  margin-top: 40px;
}
#questionnaire .mb-40px {
  margin-bottom: 40px;
}
#questionnaire .mr-40px {
  margin-right: 40px;
}
#questionnaire .ml-40px {
  margin-left: 40px;
}

#questionnaire .pt-40px {
  padding-top: 40px;
}

#questionnaire .pb-40px {
  padding-bottom: 40px;
}

#questionnaire .pr-40px {
  padding-right: 40px;
}

#questionnaire .pl-40px {
  padding-left: 40px;
}

#questionnaire .mt-45px {
  margin-top: 45px;
}
#questionnaire .mb-45px {
  margin-bottom: 45px;
}
#questionnaire .mr-45px {
  margin-right: 45px;
}
#questionnaire .ml-45px {
  margin-left: 45px;
}

#questionnaire .pt-45px {
  padding-top: 45px;
}

#questionnaire .pb-45px {
  padding-bottom: 45px;
}

#questionnaire .pr-45px {
  padding-right: 45px;
}

#questionnaire .pl-45px {
  padding-left: 45px;
}
#questionnaire .mt-30px {
  margin-top: 30px;
}

#questionnaire .img1 {
  padding-bottom: 40px;
}

#questionnaire .mb-45px {
  margin-bottom: 45px;
}

#questionnaire .caption1 {
  margin-bottom: 25px;
}

.gold_table > tbody > tr.top{
  border-top: 2px solid #d6c88d;
}

.table_questionnaire {
  margin: 0 20px 50px;
}

.img1 {
  width: 100%;
}

.img2 {
  width: 100%;
}

#questionnaire .pr-22px {
  padding-right: 22px;
}

#questionnaire .pl-22px {
  padding-left: 22px;
}

#questionnaire .pr-120px {
  padding-right: 120px;
}

#questionnaire .pl-120px {
  padding-left: 120px;
}
.questionnaire-title-td {
  padding-left: 24px;
}
.table-div {
  padding-left: 20px; 
  padding-right: 20px;
}
.long_input {
  width: 250px;
}
.long_input2 {
  width: 350px;
}
.w-60px {
  width:60px;
}
.w-100px {
  width:100px;
}
.w-120px {
  width: 120px;
}
/*
  アンケートページここまで
*/

/* エントリーページ */
#entry {
  width: 800px;
  margin: 0 auto;
  padding-top: 150px;
}

.entry-column1 {
  width:22%; 
}

.w-200px {
  width:200px;
}

/* .questionnaire_complete_msg {
  margin-bottom: 100px;
  margin-bottom: 200px;
} */

/* .complete_bottom {
  margin-bottom: 100px;
} */

.questionnaire_complete {
  /* padding-bottom: 200px; */
  padding-bottom: calc(100vh - 900px);
}

.entry_complete_msg {
  margin: 50px 0 calc(100vh - 600px); 
}


.validation-message {
  font-size: 14px;
}




/* LOCATIONページ */
.location-top {
  display: flex;
  justify-content: center;
  background-color: #000;
}
.location-top img {
  width: 30%;
  margin-top: 200px;
}

.life_information {
  border-top: 1px solid #d09a58; 
  border-bottom: 1px solid #d09a58; 
  margin-top:45px; 
  margin-bottom:45px; 
  width:100vw; 
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw); 
  padding:45px 0;
}


.location_info_area {
  max-width: 1120px; 
  padding:35px 20px; 
  margin: 0 auto 30px;
}

.location_info_group {
  width: 90%;
  margin: 0 auto;
}

.location_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}
.location_info_photo {
  display: flex; 
  flex-wrap: wrap;
  width: 52%;
}
.location_info_photo_sp {
  display: none;
}

.location_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.education_logo {
  background-color: #fce5ca;
}
.education_logo img {
  width: 60%;
}

.medical_logo {
  background-color: #e7f2ff;
}
.medical_logo img {
  width: 40%;
}

.shopping_logo {
  background-color: #fce0fe;
}
.shopping_logo img {
  width: 50%;
}

.public_logo {
  background-color: #e3f9d0;
}
.public_logo img {
  width: 30%;
}

.park_logo {
  background-color: #ffd9e8;
}
.park_logo img {
  width: 60%;
}

.location_photos {
  width:50%;
}
.location_photos img {
  width: 100%;
  /* max-height: 162px; */
  aspect-ratio: 11/8;
  object-fit: cover;
  object-position: 50% 50%;
}
.location_photos p {
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.education_photos p {
  background-color: #ffc2a1;
}

.medical_photos p {
  background-color: #b2d2fa;
}

.shopping_photos p {
  background-color: #f8b9fc;
}

.public_photos p {
  background-color: #75e498;
}

.park_photos p {
  background-color: #ff9aae;
}

.map_select_area {
  display: flex;
  justify-content: space-between;
}

.map_select_btn {
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding: 16px;
  width: calc(20% - 8px);
  text-align: center;
}
.map_select_btn:before,
.map_select_btn:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.map_select_btn:before {
  border: solid 12px transparent;
}
.map_select_btn:after {
  border: solid 14px transparent;
  border-top: solid 14px #fff;
  margin-top: -5px;
}

.map_select_btn img{
  display: block;
}

.education_select_btn {
  border: solid 2px #ffc2a1;
  background-color: #ffc2a1;
}
.education_select_btn:before {
  border-top: solid 12px #ffc2a1;
}
.education_select_btn.selected:after {
  border-top: solid 14px #ffc2a1;
}


.medical_select_btn {
  border: solid 2px #b2d2fa;
}
.medical_select_btn:before {
  border-top: solid 12px #b2d2fa;
}
.medical_select_btn.selected:after {
  border-top: solid 14px #b2d2fa;
}


.shopping_select_btn {
  border: solid 2px #f8b9fc;
}
.shopping_select_btn:before {
  border-top: solid 12px #f8b9fc;
}
.shopping_select_btn.selected:after {
  border-top: solid 14px #f8b9fc;
}


.public_select_btn {
  border: solid 2px #75e498;
}
.public_select_btn:before {
  border-top: solid 12px #75e498;
}
.public_select_btn.selected:after {
  border-top: solid 14px #75e498;
}


.park_select_btn {
  border: solid 2px #ff9aae;
}
.park_select_btn:before {
  border-top: solid 12px #ff9aae;
}
.park_select_btn.selected:after {
  border-top: solid 14px #ff9aae;
}



.map_select_btn img {
  display: block;
  margin: 0 auto;
}
.map_select_btn p {
  margin: 0;
  text-align: center;
}

.location_info_table {
  width: calc(48% - 50px);
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
}
.location_info_table span {
  font-size: 12px;
}

.location_info_table tr {
  border-style: dotted none;/* 線種 */
  border-width: 1px; /* 線の太さ */
  border-color: #000; /* 線色 */
}
.location_info_table td {
  padding: 5px 0;
  vertical-align: middle; 
}
.name_td {
  width: 67%;
}
.minutes_td {
  width: 33%;
}


.location_map_area {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.google_map {
  width: 730px;
  height: 550px;
  margin: 0;
  overflow: hidden;
}

.google_map iframe {
  width: 800px;
  height: 800px;
  margin: -60px 0 0 0;
}

.map_table_area {
  width: calc(100% - 745px);
  height: 550px;
  overflow-y: scroll;
  padding-right: 20px;
}
.map_table {
  width: 100%;
}
.map_table tr {
  border-style: dotted none;/* 線種 */
  border-width: 1px; /* 線の太さ */
  border-color: #000; /* 線色 */
}
.map_table td {
  padding: 5px 0;
}
.map_table_building {
  font-size: 14px;
  margin-bottom: 5px;
}

.pin_num_td {
  width: 25px;
}
.map_pin_num{
  border-radius: 50%;
  color: #fff;
  width: 22px;
  height: 22px;
  line-height:22px;
  text-align:center;
  font-size: 15px;
}
.education_pin_num {
  background-color: rgb(249, 168, 37);
}
.medical_pin_num {
  background-color: rgb(2, 136, 209);
}
.shopping_pin_num {
  background-color: rgb(159, 39, 156);
}
.public_pin_num {
  background-color: rgb(15, 157, 88);
}
.park_pin_num {
  background-color: rgb(255, 82, 82);
}

.map_table_minute {
  font-size: 12px;
  margin: 0;
  text-align: end;
}
/* LOCATIONページ ここまで */

/* DESIGNページ */
.design-top {
  display: flex;
  justify-content: center;
  background-color: #000;
}
.design-top img {
  width: 25%;
  margin-top: 200px;
}
.design-photo4 {
  background-color:#000; 
  padding:100px 0 0;
}
.design-photo4 img {
  max-width:100%;
}
.design-photo4 p {
  width:100%; 
  padding:5px 20px 5px 0;
}
/* DESIGNページ ここまで */

/* BLANDページ */
.bland-top {
  display: flex;
  justify-content: center;
  background-color: #000;
}
.bland-top img {
  width: 25%;
  margin-top: 200px;
}

.bland_map_bg {
  padding: 85px 0 0;
}
.bland_map {
  max-width: 880px;
}
/* BLANDページ ここまで */