.common_layout {
  padding: 0 0 220px;
}
.common_layout2 {
  padding: 0 0 220px;
}

.to-page-top {
  padding: 20px 0;
  /* display: none; */
}
.to-page-top2 {
  background-color:#3e3a39;
  padding: 20px 0;
  /* display: none; */
}




/* SPのみ出現 */
.pc_hid {
  display:block;
}

/* PCのみ出現 */
.sp_hid {
  display:none;
}

/* SPのみのインデント */
.sp_indent {
  display: inline;
  color: transparent;
}

/* ヘッダー */
.header {
  background-color: rgba(0,0,0,0.7);;
  z-index: 10000;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
}
.header_content {
  display: none;
}
.header_content2 {
  display: block;
}
.header_menu_trigger {
  /* width: 50px;
  height: 50px; */
  margin: 20px 20px 0 auto;
}
.link_groups {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}
.link_groups div {
  margin-bottom: 20px;
}
.link_groups p {
  margin: 0;
  line-height: 100%;
}
.header a{
  color: white;
  text-decoration: none;
}
.header_content2 button {
  margin-bottom: 15px;
}

/* フッター */
.footer_content {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0; 
  position: relative;
  height: 220px;
}
.company_name {
  font-size: 11px;
}
.footer p {
  
}
.company_tel {
  
}
.footer_right {
  position: static;
}
.footer_right p {
  text-align:center;
}

.footer_gg {
  
}
.footer_left_top {
  width: 240px;
  margin: 0 auto;
}
.footer_logo_area {
  
}
.copyright {
  text-align: center;
  font-size: 12px;
}

.to-top-sp {
  display: block;
}


/* メニュー */
.absolute{
  position: absolute;
}


.logo_p{
  z-index:500;
  /* margin-top: 23px;
  margin-left: 60px; */
  margin-top: 30px;
  margin-left: 20px;
}
.logo_s{
  width: 100px;
}
.menu_p {
  z-index:500;
  /* margin: 20px 20px auto auto; */
  top: 20px;
  right: 20px;
}

.menu-trigger, .menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  width: 50px;
  height: 50px;
  z-index: 1000;
  background-color: white;
}
.menu-trigger span {
  position: absolute;
  left: 10px;
  width: 30px;
  height: 4px;
  background-color: gray;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 10px;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 10px;
}

.menu-trigger.open {
  position: fixed;
}

.menu-trigger.open span:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}
.menu-trigger.open span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.open span:nth-of-type(3) {
  transform: translateY(-10px) rotate(45deg);
}

.menu-trigger {
  position: fixed;
}

/* トップページ */
video {
  object-position: 50% 50%;
}
.movie-1, .movie-2, .movie_skip {
  display: none;
}

.sp_movie {
  display: block;
}

.black_wall {
  background-color: #000;
  padding: 50px 0 50px;
}

.access_info_group {
  /* display: block; */
  display: none;
}
.access_info_group2 {
  display: flex;
  justify-content: center;
  /* margin-bottom: 50px; */
}
.access_info_group2 p {
  margin: 0;
}

/* .access_info {
  width: 80%;
  margin: 15px auto;
} */

/* 金枠 */
.gold_info_area {
  display: none;
}
.gold_info_area2 {
  display: block;
  margin-top: 50px;
}
.gold_info_area2 p {
  margin: 0;
}
/* .gold_info_group {
  display: block;
  height: auto;
} */

.gold_info {
  /* width: 90%; */
  width: calc(100% - 40px);
  margin: 7px auto;
  height: 70px;
}

.frame_border {
  position: relative;
  border: 1px solid #ca4;
  padding: 0;
  color: #ca4;
  text-align: center;
}

.questionnaire_info_area {
  margin-bottom: 50px;
}

.questionnaire_info {
  width: calc(100% - 50px);
  margin: 0 auto;
}

.gold-title-2 {
  font-size: 18px;
}

.gold-title-2::before {
  margin-right: 0.4rem;
}
.gold-title-2::after {
  margin-left: 0.4rem;
}

.gold-title-4 {
  font-size: 18px;
}

.gold-title-4::before {
  margin-right: 0.4rem;
}

.gold-title-4::after {
  margin-left: 0.4rem;
}

.info_title {
  /* width: 90%;  */
  width: calc(100% - 40px);
  margin: 40px auto 30px; 
  font-size: 14px;
}

.questionnaire_info {

}

.info_table {
  width: calc(100% - 40px);
  margin: 0 auto;
  font-size: 10px;
}

.date-td-1 {
  padding-bottom: 10px;
}

.text-td-1 {
  padding-left: 15px;
}

.date-td-2 {
  padding: 10px 0;
}

.text-td-2 {
  padding: 10px 0px 10px 15px;
}

.border-gold-2 {
  padding: 25px;
}

.border-gold-2 p{
  font-size: 10px;
  margin: 0;
}
.to_questionnaire {
  
}
.to_questionnaire a{
  font-size: 12px;
} 

/* .border-gold-2 {
  border: 1px solid #B67B03;
  border-image: #d09a58;
  border-image-slice: 1;
  padding: 20px;
}

.border-gold-2 span {
  border-bottom:1px solid white;
  padding-bottom: 5px;
}

.border-gold-2 div {
  width: 29.2vw; 
  height: 4.17vw; 
  margin: 20px auto 0;
}
.to_questionnaire {
  
} */

/* 
.pt14 {
  font-size: 1vw;
} */
/* 
.picture_side {
  width: 70%;
}

.text_side {
  width: 30%; 
}
.text_side img {
  width: 90%; 
  margin-bottom: 1vw;
}
.text_side p {
  width: 90%; 
  margin-bottom: 1vw;
}

.gold_line {
  min-height: 3vw;
  margin-bottom: 1vw;
}

.gold_btn {
  font-size: 1vw;
  padding: 1vw 2vw;
} */

.read_more_area {
  display: none;
}
.read_more_area2 {
  display: block;
  width: calc(100% - 40px);
  margin: 0 auto;
  /* padding-top:50px; */
}
.read_more_link2 {
  margin-top: 50px;
}
.the-logo {
  width:70%;
  display: block;
  margin: 0 auto;
}
.photo-100 {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.photo-90{
  width: 90%;
  display: block;
  margin: 0 auto;
}
.gold_line2 {
  /* border-right: 1px solid #ac9759; */
  border-right: 1px solid #d09a58;
  margin: 10px 0;
  width:50%;
  height: 50px;
}


.read_more {
  margin-top: 20px;
  width: 140px;
  height: 40px;
  padding:0;
}
.read_more a {
  font-size: 12px;
  display: block;
}

.bland_img_link {
  width: calc(100% - 40px);
}

/* ENTRYリンク */
.entry_link {
  /* margin: 60px 0 50px; */
  width: calc(100% - 40px);
  margin: 50px auto;
}

.entry_link button {
  display: block;
  margin: 0 auto;
  width: 65%;
  padding: 10px;
  
}
.entry_link a {
  font-size: 12px;
}

/* 注釈 */
.comment-area {
  margin: 0 auto 30px;
  width: calc(100% - 40px);
}
.comment-area p {
  white-space: normal;
  font-size: 9px;
}


/* EBISUページ */
.ebisu-top img {
  width: 70%;
  margin-top: 150px;
}
.dark-area {
  display: none;
}
.dark-area2 {
  display: block;
}
.white-area {
  display: none;
}
.white-area2 {
  display: block;
}


/* ACCESSページ */
.access-top img{
  width: 70%;
  margin-top: 150px;
}
.access-main-content {
  display: none;
}
.access-main-content2 {
  display: block;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 30px 0 30px; 
}
.taxi_table {
  border-collapse: collapse;
}
.taxi_table tr {
  
}
.taxi_table td {
  padding: 1px;
  vertical-align: middle;
}
/* ACCESSページ ここまで */



/* 物件概要ページ */

.ov-m {
  /* padding: 150px 0px 0px 0px; */
  padding: 150px 0px 50px 0px;
  /* margin-top: 150px; */
}
.ov-t1{
  text-align:center;
  position:relative;
  font-size: 10px;
}
.ov_gold_table{
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
  font-size: 10px;
}
.ov_comment{
  margin-left: auto;
  margin-right: auto;
  width:  calc(100% - 80px);
}

.ov_gold_table > tbody > tr{
  border-bottom: 2px solid #d6c88d;
}
.ov_gold_table > tbody > tr > td,
.ov_gold_table > tbody > tr > th {
  padding: 16px 0;
}
.ov_m1{
  margin-top: 60px;
}
.ov_m2{
  margin-top: 45px;
  margin-bottom: 0;
}
.ov_title_td {
  width: 125px;
}
.mx-200 {
  margin:0;
}


/* 現地案内ページ */
.map-m {
  padding: 150px 0px 40px 0px;
}
.map-t1{
  text-align:center;
  position:relative;
}
.map_comment{
  /* margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px); */
  width: 100%;
}
.map_comment a {
  font-size: 11px;
}
.print_area{
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
}
.map_but{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
}
.map_but_s{
  height: 60px;
  width: 210px;
}
.map_img{
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
}
.map_but_img{
  height: 30px;
}
.map_m1{
  margin-top: 50px;
  margin-bottom: 50px;
}
.map_m2{
  margin-top: 20px;
  margin-bottom: 40px;
}
.map_m3{
  margin: 7px;

}
.map_side_layout{
  display: inline-block;
  justify-content: center;
  margin: 0 5px 0 0;
  font-size: 11px;
}

.map_address {
  font-size: 15px;
}


/* アンケート */
#questionnaire {
  /*  width: calc(100% - 40px); */
  width: 100%;
  margin: 0 auto 40px;
  padding-top: 150px;
  font-size: 10px;
}


.questionnaire {
  margin: 0;
}

.pre-text, .main-content {
  width: calc(100% - 40px);
  margin: 0 auto;
}

#questionnaire h1 {
  
}

#questionnaire p, #questionnaire span, 
#questionnaire ul, #questionnaire li, 
#questionnaire input, #questionnaire label, 
#questionnaire div, #questionnaire select, 
#questionnaire a, #questionnaire td, #questionnaire button {
  font-size: 10px;
}
#questionnaire input, #questionnaire select {
  height: 20px;
}
.questionnaire-sm-img{
  padding: 0;
  width: 90%;
  margin: 0 auto; 
}

#questionnaire .pr-22px {
  padding-right: 0px;
}

#questionnaire .pl-22px {
  padding-left: 0px;
}

#questionnaire .pr-120px {
  padding-right: 0px;
}

#questionnaire .pl-120px {
  padding-left: 0px;
}

.questionnaire-title-td {
  padding-left: 5px;
}
#questionnaire .column1 {
  width: 33%;
}
#questionnaire .column3 {
  width: 62%;
}
.table-div {
  padding-left: 0; 
  padding-right: 0;
}
.long_input {
  width: 130px;
}
.long_input2 {
  width: 130px;
}
.w-60px {
  width: 40px;
}
.w-100px {
  width: 50px;
}
.w-120px {
  width: 60px;
}

/* エントリー */
#entry {
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
}

.entry-main-content {
  width: calc(100% - 40px);
  margin: 0 auto;
}
#entry h1 {
  font-size: 20px;
  width: 100%;
}
#entry p, #entry span, #entry ul, 
#entry li, #entry input, #entry label, 
#entry div, #entry select, #entry a, 
#entry td ,#entry button{
  font-size: 10px;
}
#entry input, #entry select{
  height: 20px;
}
.entry-column1 {
  width:25%; 
}
.entry-column3 {
  width:62%; 
}
/* #entry .column1 {
  width: 33%;
}
#entry .column3 {
  width: 62%;
} */

.w-200px {
  width:100px;
}

input {
  max-width: 130px;
}


.badge-danger {
  background-color: #CC0000	;
  margin: 0px 1px;
}

#questionnaire .mr-20px {
  margin-right: 5px;
}

.questionnaire_comment {
  width: calc(100% - 20px);
  margin: 0 auto;
}

.m-none {
  margin: 0;
  padding: 10px;
}
/* 
#questionnaire .pt-25px {
  padding-top: 20px;
}

#questionnaire .pb-25px {
  padding-bottom: 20px;
}

#questionnaire .pr-20px {
  padding-right: 10px;
}

#questionnaire .pl-20px {
  padding-left: 10px;
} */

.questionnaire_complete {
  padding-bottom: 0px;
}

.entry_complete_msg {
  margin: 40px 0 80px;
}


.validation-message {
  font-size: 10px;
}


/* LOCATIONページ */
.location-top img {
  width: 70%;
  margin-top: 150px;
}

.life_information {
  border-top: 1px solid #d09a58; 
  border-bottom: 1px solid #d09a58; 
  margin-top:40px; 
  margin-bottom: 30px;
  width:100vw; 
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw); 
  padding:25px 0;
}

.location_info_group {
  width: 90%;
  margin: 0 auto;
}

.location_info {
  display: block;
}
.location_info_photo {
  width: 100%;
}
.location_info_photo_sp {
  display: flex;
}
.location_info_photo_pc {
  display: none;
}

.location_photos p {
  font-size: 10px;
}

.location_info_table {
  width: 100%;
  /* font-size: 10px; */
  margin-top: 30px;
  margin-bottom: 40px;
}
.name_td {
  width: 60%;
}
.minutes_td {
  width: 40%;
}



.location_map_area {
  display: block;
}

.google_map {
  width: 100%;
  height: 80vw;
}

.google_map iframe {
  width: 100%;
  height: 120vw;
  margin: -100px 0 0 0 ;
}

.map_table_area {
  /* width: calc(100% - 745px);
  height: 550px; */
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.map_table {
  width: 100%;
}
.map_table tr {
  border-style: dotted none;/* 線種 */
  border-width: 1px; /* 線の太さ */
  border-color: #000; /* 線色 */
}
.map_table td {
  padding: 5px 0;
}
.map_table_building {
  font-size: 12px;
  margin-bottom: 5px;
}

.pin_num_td {
  width: 25px;
}
.map_pin_num{
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
  line-height:20px;
  text-align:center;
}

.map_table_minute {
  font-size: 10px;
  margin: 0;
  text-align: end;
}
/* LOCATIONページ ここまで */

/* DESIGNページ */
.design-top img {
  width: 70%;
  margin-top: 150px;
}

.design-photo4 {
  background-color:#000; 
  padding:70px 0 0;
}
.design-photo4 img {
  width:100%;
}
.design-photo4 p {
  width:100%; 
  font-size: 10px;
}
/* DESIGNページ ここまで */